html{
    --bg: #d6d8dd;
    // FOR LATER #87CEEB
    --white: #fff;
    --black: #000;
    --white_: #f2f2f2;
    --white1: #e4e4e4;
    --white2: #cacaca;
    --white3: #a1a1a1;
    --dark: #353333;
    --dark1: #8f8e8e;
    --blue: #ff0033;//
    --redBg: #9f656c;//
    --darkBlue: #2e171c;//
    --logoBlue: #94414b;//
    --logoGreen: #32972f;
    --logoRed: #ff0000;
    --blueBg: #63001a;//
    --orange: orange;
    --orangeEl: #ffb01c;
    --whiteWithOpacity: #ffffffb1;
    --transparent: #00000000;
}