@import 'reset';
@import 'palette';
@import 'mixin';
@import 'features';

html{    
    body{
        section{
            --padding: 5em;

            &.sect1{
                display: flex;
                align-items: center;

                &::before{
                    content: '';
                    background-color: #00000086;
                    backdrop-filter: blur(5px);
                    position: absolute;
                    top: 0;right: 0;left: 0;bottom: 0;
                    z-index: -1;
                }

                &>div{
                    @include vertical;
                    justify-content: center;
                    padding: 2.5em 0;

                    h1{
                        font-family: "Comfortaa";
                        font-size: 3.5em;
                        color: var(--white);
                        margin: .4em 0;

                        // @include media(md){
                        //     font-size: 2.5em;
                        // }

                        @include media(sm){
                            font-size: 1.9em;
                            margin: 1em 0;
                        }

                        &,*{
                            font-weight: 700;
                        }

                        span{
                            font-weight: normal;
                            color: var(--logoBlue);
                            // color: var(--orange);
                        }
                    }

                    p{
                        color: var(--white1);
                    }

                    &>div>div{
                        &:has(button){
                            margin-top: 2em;

                            button{
                                padding: .5em .9em;
                                cursor: pointer;

                                &:first-of-type{
                                    background-color: var(--blue);
                                    color: var(--white);
                                    margin-right: 1em;

                                    &:hover{
                                        background-color: var(--white1);
                                        color: var(--black);
                                    }
                                }
                                &:last-of-type{
                                    background-color: var(--white2);
                                    background-color: var(--orange);
                                }
                            }
                        }
                    }
                }
            }

            &.sect2{
                background-color: var(--white);

                &>div{
                    display: flex;
                    width: 100%;
                    @include vertical;

                    span.hype{
                        display: block;
                        width: fit-content;
                        margin: 0 auto 2em auto;
                    }
    
                    &>h2{
                        text-align: center;
                        margin-bottom: 3.5em;
    
                        &,*{
                            font-family: "Comfortaa", "Poppins", Verdana, Geneva, Tahoma, sans-serif !important;
                        }
                    }
    
                    ul:not(.exclude){
                        display: grid;
                        grid-auto-flow: dense;
                        grid-template-columns: repeat(auto-fit, minmax(15em, 1fr));
                        gap: 1em;

                        @include media(sm){
                            grid-template-columns: repeat(auto-fit, minmax(15em, 1fr));                            
                        }
    
                        li{
                            display: grid;
                            grid-template-rows: 14rem auto;
                            grid-template-areas: 'top' 'bottom';
                            // gap: .9rem;
                            background-color: var(--white1);
                            border-radius: .5em;
                            overflow: hidden;

                            &.special{
                                // background-color: #fdde90;
                                background-color: var(--blueBg);
                                position: relative;

                                &::before{
                                    content: 'For Rent';
                                    font-size: 1.3rem;
                                    font-weight: 600;
                                    background-color: var(--orangeEl);
                                    color: var(--black);
                                    width: 15rem;
                                    padding: .5rem 0;
                                    position: absolute;
                                    top: 1rem;left: -4.5rem;
                                    transform: rotate(-35deg);
                                    text-align: center;
                                    box-shadow: inset 0px 0 1.2rem 0 #242424;
                                }

                                div{
                                    &:has(img){
                                        background-color: #0000001f;
                                    }
                                    &:last-of-type{
                                        p.serviceName{
                                            // color: #926c0a;
                                            color: var(--white);
                                            text-transform: capitalize;
                                        }
                                    }
                                }
                            }
    
                            div{
                                &:has(img){
                                    width: 100%;
                                    height: 100%;
    
                                    img{
                                        width: 100%;
                                        height: 100%;
                                    }
                                }
                                &:last-of-type{
                                    @include center;
                                    padding: .9rem;
                                    position: relative;
    
                                    p{
                                        &.serviceName{
                                            font-weight: 600;
                                            text-transform: capitalize;
                                        }
    
                                        &.serviceInfo{
                                            font-size: 0.7em;
                                        }
                                    }
    
                                    // a{
                                    //     font-size: 0.8em;
                                    //     background-color: unset;
                                    //     color: var(--black);
                                    //     text-decoration: underline;
                                    //     position: absolute;
                                    //     left: 0;bottom: 0;
                                    //     cursor: pointer;
    
                                    //     &:hover{
                                    //         color: skyblue;
                                    //     }
                                    // }
                                }
                            }
                        }
                    }
    
                    button.appointmentBtn{
                        // font-weight: bold;
                        background-color: var(--blue);
                        color: var(--white);
                        width: fit-content;
                        padding: .7em 1em;
                        margin: 5em auto 0 auto;
                        text-transform: capitalize;
                        cursor: pointer;

                        &:hover{
                            background-color: var(--black)
                        }
                    }
                }
            }

            &.moreThan{
                background-color: var(--white);
                max-width: 100%;
                min-height: unset;
                padding-right: 0;
                overflow: hidden;

                span.hype{
                    display: block;
                    width: fit-content;
                    margin-bottom: 3rem;
                    position: relative;
                    left: 4rem;
                }

                .moreSectDtls{
                    @include center;
                    background-color: var(--white_);
                    padding: 4rem 0 4rem 4rem;
                    position: relative;

                    h1{
                        font-family: "Comfortaa";
                        font-weight: 900;
                        position: absolute;
                        top: -1.4rem;
                        left: 4rem;
                    }

                    ul{
                        display: grid;
                        grid-template-columns: auto auto auto auto;
                        gap: 2rem;
                        width: 100%;
                        height: 100%;
                        overflow: auto hidden;
                        
                        li{
                            display: flex;
                            flex-direction: column;
                            justify-content: space-between;
                            background-color: var(--white);
                            width: 15rem;
                            padding: 1rem;
                            aspect-ratio: 1 / .6;

                            p{font-size: 0.8rem;}
                            
                            svg{
                                width: 2rem;
                                height: 2rem;

                                path{fill: var(--logoBlue);}
                            }
                        }
                    }
                }
            }

            // &.forRent{
            //     background-color: var(--white);
            //     height: 27.5rem;
            //     padding: unset;
            //     padding-bottom: 2.5rem;
            //     position: relative;
            //     box-shadow: 0 5px 30px 0 #3232321a;
            //     z-index: 1;
            //     overflow: hidden;

            //     @include media(xs){
            //         height: fit-content;
            //     }

            //     &::before{
            //         content: '';
            //         background-color: inherit;
            //         width: 60rem;
            //         aspect-ratio: 1 / 1;
            //         border-radius: 50%;
            //         position: absolute;
            //         right: 30rem;
            //         transform: translate(0, -4rem);
            //         z-index: 3;
                    
            //         @include media (lg){
            //             right: 19rem;
            //         }
            //         @include media (md){
            //             right: 15.5rem;
            //         }
            //         @include media (sm){
            //             right: 5rem;
            //         }
            //         @include media (xs){
            //             display: none;
            //         }
            //     }

            //     &>div{
            //         @include center;
            //         background-color: var(--white);
            //         width: 35%;
            //         padding: 1rem 1rem 2rem 1rem;
            //         position: absolute;
            //         top: 0;left: 0;bottom: 0;
            //         z-index: 3;

            //         @include media (md){
            //             background-color: var(--transparent);
            //             width: unset;
            //         }

            //         @include media(xs){
            //             position: relative;
            //         }

            //         div{
            //             margin-left: 3rem;

            //             @include media(xs){
            //                 margin-left: unset;
            //             }

            //             p.title1{
            //                 font-family: "Pacifico";
            //                 font-size: 1.5rem;
            //                 font-weight: 400;
            //                 color: var(--logoBlue);
            //                 position: relative;
            //                 top: .8rem;
            //             }
            //             h1.title{
            //                 font-family: Verdana, Geneva, Tahoma, sans-serif;
            //                 font-size: 4rem;
            //                 text-transform: uppercase;
            //                 line-height: 1;

            //                 span{color: var(--logoRed);}
            //             }
            //             span.contSpan{
            //                 @include horizontal;
            //                 margin-top: 2rem;

            //                 svg{
            //                     width: 1.5rem;
            //                     margin-right: 1rem;
            //                     path{fill: var(--logoBlue);}
            //                 }
            //             }
            //         }

            //     }

            //     button{
            //         background-color: var(--darkBlue);
            //         color: var(--white);
            //         width: 7rem;
            //         aspect-ratio: 1/1;
            //         border: .2rem solid var(--white);
            //         border-radius: 50%;
            //         position: absolute;
            //         top: calc(50% - 3.5rem);
            //         left: calc(50% - 3.5rem);
            //         transition: background-color .2s ease-in-out, color .2s ease-in-out;
            //         box-shadow: 0 5px 30px 0 #32323296;
            //         cursor: pointer;
            //         z-index: 5;

            //         &:hover{
            //             background-color: var(--white2);
            //             color: var(--darkBlue);
            //         }

            //         @include media(md){
            //             top: calc(100% - 8rem);
            //             left: calc(58% - 3.5rem);
            //         }

            //         @include media(sm){
            //             width: 10rem;
            //             aspect-ratio: unset;
            //             padding: .8rem 1rem;
            //             margin: 0 auto;
            //             border-radius: .3rem;
            //             top: calc(100% - 5rem);
            //             left: calc(50% - 5rem);
            //         }

            //         @include media(xs){
            //             margin-top: 1rem;
            //             position: relative;
            //             top: unset;
            //         }
            //     }
                
            //     img{
            //         height: 100%;
            //         position: absolute;
            //         top: 0;right: 0;bottom: 0;
            //         z-index: 1;

            //         @include media(xs){
            //             width: 100%;
            //             height: unset;
            //             position: relative;
            //         }
            //     }
            // }

            &.makesDiff{
                @include center;
                background-color: var(--white);
                height: fit-content;
                min-height: unset;
                padding-left: 12rem;
                padding-right: 12rem;

                @include media(lg){
                    padding: var(--padding);
                }
                @include media(sm){
                    padding: 2rem;
                }

                ul{
                    display: grid;
                    grid-template-columns: repeat(auto-fit, minmax(45%, 1fr));
                    gap: 3rem;
                    margin-bottom: 4rem;

                    li{
                        &:has(img){@include center;}
                        span.hype{
                            display: block;
                            width: fit-content;
                            margin-bottom: 3rem;
                        }
                        h1{
                            font-family: "Comfortaa";
                            font-size: 2rem;
                            margin-bottom: 2rem;
                        }
                        p{
                            font-size: 0.93rem;
                            color: var(--dark);
                        }
                        img{
                            width: 100%;
                            // height: 35rem;
                        }
                    }
                }
            }

            &.testimonial{
                background-color: var(--white);
                
                span.hype{
                    display: block;
                    width: fit-content;
                    margin: 0 auto 2em auto;
                }
    
                h2{
                    text-align: center;
                    margin-bottom: 3.5em;
                    text-transform: capitalize;

                    &,*{
                        font-family: "Comfortaa", "Poppins", Verdana, Geneva, Tahoma, sans-serif !important;
                    }
                }

                &>div.carousel-cont{
                    @include center;
                    border-radius: .7em;
                    overflow: hidden;

                    .itsCont{     
                        @include center;     
                        width: 60%;
                        max-width: 70rem;
                        padding-top: 5rem;
                        position: relative;
                        transition: opacity .5s ease-in-out;

                        &.disappear{opacity: 0;}

                        &::before{
                            content: '“';
                            font-family: 'Arial', Helvetica, sans-serif;
                            font-size: 5em;
                            color: var(--white3);
                            position: absolute;
                            top: 0;
                        }

                        ul#testiRate{
                            margin-bottom: 2rem;

                            li{
                                display: inline;

                                &:not(:last-of-type){
                                    margin-right: .2em;
                                }

                                svg{
                                    width: 1em;
                                    height: 1em;
                                }
                            }
                        }

                        img{
                            width: 3.5rem;
                            aspect-ratio: 1/1;
                            border-radius: 50%;
                            object-fit: cover;
                        }
                        
                        p#testiComment{
                            font-size: 0.9rem;
                            max-height: 13rem;
                            margin: 1.5rem 0 3rem 0;
                            position: relative;
                            white-space: normal;
                            text-align: center;

                            &::before{
                                content: '"';
                            }
                            &::after{
                                content: '"';
                            }
                        }

                        #reviewer{
                            @include vertical;
                            align-items: center;

                            p{
                                text-align: center;
                                
                                &#reviewerName{
                                    font-size: 1rem;
                                    font-weight: 900;
                                    text-transform: capitalize;
                                }
                                
                                &#reviewerPos{
                                    white-space: wrap;
                                    font-size: 0.8rem;
                                    color: var(--logoBlue);
                                    padding-right: 0.4rem;
                                    text-transform: capitalize;
                                }
                            }
                        }
                    }
                }
            }

            &.sect5{
                @include horizontal;
                justify-content: space-between;
                // background-color: var(--blueBg);
                // background-color: rgba(255, 0, 0, 0.175);
                backdrop-filter: blur(10px);
                height: 8em !important;
                min-height: unset;
                position: relative;
                &::before{
                    content: '';
                    background-image: url(../../asset/images/capture.PNG);
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-attachment: fixed;
                    position: absolute;
                    top: 0;right: 0;left: 0;bottom: 0;
                    z-index: -2;
                }
                &::after{
                    content: '';
                    background-color: #00000086;
                    backdrop-filter: blur(5px);
                    position: absolute;
                    top: 0;right: 0;left: 0;bottom: 0;
                    z-index: -1;
                }

                @include media (sm) {
                    @include vertical;
                    height: 16em !important;
                }

                div{
                    @include media (sm) {
                        @include center;
                    }
                    h1{
                        font-size: 2.3em;
                        color: var(--white);
                    }
                    p{
                        color: var(--white3);
                    }
                }

                button{
                    font-size: 1.1em;
                    background-color: var(--white);
                    color: var(--blueBg);
                    padding: 1em 1.5em;
                    border-top: .2em solid var(--logoRed);
                    border-radius: 0 0 1em 1em;
                    animation: wiggle 2s linear infinite;
                    text-transform: capitalize;
                    cursor: pointer;

                    &:hover{
                        animation: unset;
                    }
                }
            }

            &.team{
                background-color: var(--white);
                min-height: unset;
                height: fit-content;

                span.hype{
                    display: block;
                    width: fit-content;
                    margin: 0 auto 2em auto;
                }
    
                h2{
                    text-align: center;
                    margin-bottom: 3.5em;
                    text-transform: capitalize;

                    &,*{
                        font-family: "Comfortaa", "Poppins", Verdana, Geneva, Tahoma, sans-serif !important;
                    }
                }

                ul{
                    @include horizontal;
                    justify-content: center;
                    flex-wrap: wrap;
                    // background-color: blue;
                    
                    li{
                        margin:  0 1em 5em 1em;
                        // min-width: 20em;
                        
                        div{
                            // background-color: red;

                            &:has(img){
                                width: 15em;
                                height: 18em;
                                border-radius: .5em;
                                overflow: hidden;
    
                                img{
                                    width: 100%;
                                    height: 100%;
                                    object-fit: cover;
                                }
                            }

                            &:not(:has(img)){
                                // background-color: red;
                                margin-top: 0.5em;

                                p{
                                    text-align: center;
                                    
                                    &.teamName{
                                        font-size: 1.1em;
                                        font-weight: 600;
                                        text-transform: capitalize;

                                    }
                                    
                                    &.teamPos{
                                        font-size: 0.8em;

                                    }
                                }
                            }
                        }
                    }
                }
            }

            &.faqs_sect2{
                @include center;
                background-color: var(--white);
                height: 12em;
                min-height: unset;

                
                ul{
                    white-space: nowrap;
                    overflow: auto hidden;
                    scroll-snap-type: x mandatory;
                    scroll-behavior: smooth;
                    
                    li{
                        display: inline-block;
                        margin: 0 .8em;
                        white-space: nowrap;
                        // flex: 0 0 calc(90% / 3);
                        vertical-align: top;
                        // width: 100%;
                        scroll-snap-align: start;
                        cursor: pointer;

                        &.active{
                            .faqs_cate{
                                background-color: var(--blue);

                                &>div{
                                    &>div{
                                        background-color: #ffffffc9;

                                        // svg{
                                        //     path{
                                        //         fill: var(--blue);
                                        //     }
                                        // }
                                    }
                                    p{
                                        color: var(--white);
                                    }
                                }
                            }
                        }
                        &:not(.active):hover{
                            .faqs_cate{
                                background-color: #90d2f8;

                                &>div{
                                    &>div{
                                        background-color: #ffffffc9;
                                    }
                                }
                            }
                        }
                        
                        &>div{
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            
                            
                            &>div.faqs_cate{
                                display: inline-block;
                                background-color: var(--white1);
                                width: 15em;
                                aspect-ratio: 1/.3;
                                padding: 1em 1em 2.5em 1em;
                                border: .15em solid var(--white2);
                                border-radius: 2em;
                                position: relative;
                                overflow: hidden;

                                &>div{
                                    @include vertical;
                                    align-items: center;
                                    justify-content: space-evenly;
                                    position: absolute;
                                    top: 0;left: 0;right: 0;bottom: 0;

                                    &>div{
                                        @include center;
                                        background-color: #00a2ff36;
                                        width: 3em;
                                        height: 3em;
                                        border-radius: 50%;

                                        svg{
                                            width: 2em;
                                        }
                                    }

                                    p{
                                        color: var(--black);
                                    }
                                }
                            }
                        }
                    }

                }
            }
        }
    }
}