@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  font-family: '"Poppins"', "Comfortaa", Verdana, Geneva, Tahoma, sans-serif;
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  text-decoration: none;
}

body {
  position: relative;
  overflow: hidden auto;
}

li {
  list-style: none;
}

a {
  color: var(--black);
  cursor: pointer;
}

section {
  --padding: 5em;
  padding: var(--padding) 10%;
  position: relative;
}
section.different {
  min-height: calc(100vh - var(--padding) * 2);
}

html {
  --bg: #d6d8dd;
  --white: #fff;
  --black: #000;
  --white_: #f2f2f2;
  --white1: #e4e4e4;
  --white2: #cacaca;
  --white3: #a1a1a1;
  --dark: #353333;
  --dark1: #8f8e8e;
  --blue: #ff0033;
  --redBg: #9f656c;
  --darkBlue: #2e171c;
  --logoBlue: #e82f2f;
  --logoGreen: #32972f;
  --logoRed: #ff0000;
  --blueBg: #63001a;
  --orange: orange;
  --orangeEl: #ffb01c;
  --whiteWithOpacity: #ffffffb1;
  --transparent: #00000000;
}

* {
  font-family: '"Poppins"', "Comfortaa", Verdana, Geneva, Tahoma, sans-serif;
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  text-decoration: none;
}

body {
  position: relative;
  overflow: hidden auto;
}

li {
  list-style: none;
}

a {
  color: var(--black);
  cursor: pointer;
}

section {
  --padding: 5em;
  padding: var(--padding) 10%;
  position: relative;
}
section.different {
  min-height: calc(100vh - var(--padding) * 2);
}

html {
  --bg: #d6d8dd;
  --white: #fff;
  --black: #000;
  --white_: #f2f2f2;
  --white1: #e4e4e4;
  --white2: #cacaca;
  --white3: #a1a1a1;
  --dark: #353333;
  --dark1: #8f8e8e;
  --blue: #ff0033;
  --redBg: #9f656c;
  --darkBlue: #2e171c;
  --logoBlue: #e82f2f;
  --logoGreen: #32972f;
  --logoRed: #ff0000;
  --blueBg: #63001a;
  --orange: orange;
  --orangeEl: #ffb01c;
  --whiteWithOpacity: #ffffffb1;
  --transparent: #00000000;
}

body {
  background-color: var(--bg);
  width: 100vw;
  height: 100vh;
  overflow: hidden auto;
}
body .hype {
  font-size: 0.8em;
  background-color: var(--white_);
  color: var(--logoBlue);
  padding: 0.5em 1.3em;
  border-radius: 1em;
  text-transform: capitalize;
}
body .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
body .logo img {
  width: 2.5em;
  margin-right: 0.5em;
}
body .logo p {
  font-size: 0.8em;
  text-transform: uppercase;
}
body .logo p, body .logo p * {
  font-family: "Comfortaa", "Poppins", Verdana, Geneva, Tahoma, sans-serif;
}
body .logo p span {
  font-size: 1.3em;
  font-weight: 700;
  text-transform: none;
}
body nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 0.9em;
  background-color: var(--whiteWithOpacity);
  -webkit-backdrop-filter: blur(1rem);
          backdrop-filter: blur(1rem);
  height: 6em;
  padding: 0 4.5rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 50;
}
body nav #nav-links ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
body nav #nav-links ul li {
  font-weight: 600;
  min-width: 5.8rem;
  border-radius: 0.5rem;
  cursor: pointer;
}
body nav #nav-links ul li:hover {
  background-color: var(--logoBlue);
}
body nav #nav-links ul li:hover a {
  color: var(--white);
}
body nav #nav-links ul li a {
  display: grid;
  place-items: center;
  padding: 0.5em 0.7em;
}
body nav #nav-links ul li:not(:last-of-type) {
  margin-right: 0.8em;
}
body nav .contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
body nav .contact button {
  display: grid;
  place-items: center;
  cursor: pointer;
}
body nav .contact button#navContactBtn {
  font-size: 1em;
  background-color: var(--logoBlue);
  color: var(--white);
  width: 9em;
  height: 3em;
  border-radius: 3em;
  text-transform: capitalize;
  text-align: center;
}
body nav .contact button#navContactBtn svg {
  display: none;
}
body nav .contact button#navContactBtn svg path {
  fill: var(--white);
}
body nav .contact button#hamburger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: none;
  background-color: var(--transparent);
  margin-left: 2em;
}
body nav .contact button#hamburger div span {
  display: block;
  background-color: var(--black);
  width: 2.2em;
  border-radius: 1em;
  aspect-ratio: 1/0.1;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
body nav .contact button#hamburger div span:not(:last-of-type) {
  margin-bottom: 0.4em;
}
body nav .contact button#hamburger.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
body nav .contact button#hamburger.active div span {
  -webkit-transform-origin: center;
          transform-origin: center;
}
body nav .contact button#hamburger.active div span:first-of-type {
  -webkit-transform: rotate(45deg) translate(0.5em, 0.4em);
          transform: rotate(45deg) translate(0.5em, 0.4em);
}
body nav .contact button#hamburger.active div span:nth-of-type(2) {
  -webkit-transform: scale(0);
          transform: scale(0);
}
body nav .contact button#hamburger.active div span:last-of-type {
  -webkit-transform: rotate(-45deg) translate(0.5em, -0.4em);
          transform: rotate(-45deg) translate(0.5em, -0.4em);
}
@media (max-width: 48em) {
  body nav {
    padding: 0 2rem;
  }
  body nav #nav-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: inherit;
    padding: 1em 1em;
    position: absolute;
    top: 99.5%;
    left: 0;
    right: 0;
    -webkit-clip-path: inset(0 0 100% 0);
            clip-path: inset(0 0 100% 0);
    -webkit-transition: -webkit-clip-path 0.5s ease-in-out;
    transition: -webkit-clip-path 0.5s ease-in-out;
    transition: clip-path 0.5s ease-in-out;
    transition: clip-path 0.5s ease-in-out, -webkit-clip-path 0.5s ease-in-out;
  }
  body nav #nav-links.active {
    -webkit-clip-path: inset(0 0 0 0);
            clip-path: inset(0 0 0 0);
  }
  body nav #nav-links ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  body nav .contact button#navContactBtn {
    width: 2.5em;
    height: unset;
    aspect-ratio: 1/1;
    border-radius: 50%;
  }
  body nav .contact button#navContactBtn p {
    display: none;
  }
  body nav .contact button#navContactBtn svg {
    display: block;
    width: 1.3em;
  }
  body nav .contact button#hamburger {
    display: block;
  }
}
body section.sect1 {
  background-image: url(../../../asset/images/bg3.JPG);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding-top: 5em;
  position: relative;
  z-index: 2;
}
body section.forRent {
  background-color: var(--white);
  height: 27.5rem;
  padding: unset;
  padding-bottom: 2.5rem;
  position: relative;
  -webkit-box-shadow: 0 5px 30px 0 rgba(50, 50, 50, 0.1019607843);
          box-shadow: 0 5px 30px 0 rgba(50, 50, 50, 0.1019607843);
  z-index: 1;
  overflow: hidden;
}
@media (max-width: 30em) {
  body section.forRent {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
}
body section.forRent::before {
  content: "";
  background-color: inherit;
  width: 60rem;
  aspect-ratio: 1/1;
  border-radius: 50%;
  position: absolute;
  right: 30rem;
  -webkit-transform: translate(0, -4rem);
          transform: translate(0, -4rem);
  z-index: 3;
}
@media (max-width: 75em) {
  body section.forRent::before {
    right: 19rem;
  }
}
@media (max-width: 62em) {
  body section.forRent::before {
    right: 15.5rem;
  }
}
@media (max-width: 48em) {
  body section.forRent::before {
    right: 5rem;
  }
}
@media (max-width: 30em) {
  body section.forRent::before {
    display: none;
  }
}
body section.forRent > div {
  display: grid;
  place-items: center;
  background-color: var(--white);
  width: 35%;
  padding: 1rem 1rem 2rem 1rem;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 3;
}
@media (max-width: 62em) {
  body section.forRent > div {
    background-color: var(--transparent);
    width: unset;
  }
}
@media (max-width: 30em) {
  body section.forRent > div {
    position: relative;
  }
}
body section.forRent > div div {
  margin-left: 3rem;
}
@media (max-width: 30em) {
  body section.forRent > div div {
    margin-left: unset;
  }
}
body section.forRent > div div p.title1 {
  font-family: "Pacifico";
  font-size: 1.5rem;
  font-weight: 400;
  color: var(--logoBlue);
  position: relative;
  top: 0.8rem;
}
body section.forRent > div div h1.title {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 4rem;
  text-transform: uppercase;
  line-height: 1;
}
body section.forRent > div div h1.title span {
  color: var(--logoRed);
}
body section.forRent > div div span.contSpan {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 2rem;
}
body section.forRent > div div span.contSpan svg {
  width: 1.5rem;
  margin-right: 1rem;
}
body section.forRent > div div span.contSpan svg path {
  fill: var(--logoBlue);
}
body section.forRent button {
  background-color: var(--darkBlue);
  color: var(--white);
  width: 7rem;
  aspect-ratio: 1/1;
  border: 0.2rem solid var(--white);
  border-radius: 50%;
  position: absolute;
  top: calc(50% - 3.5rem);
  left: calc(50% - 3.5rem);
  -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  -webkit-box-shadow: 0 5px 30px 0 rgba(50, 50, 50, 0.5882352941);
          box-shadow: 0 5px 30px 0 rgba(50, 50, 50, 0.5882352941);
  cursor: pointer;
  z-index: 5;
}
body section.forRent button:hover {
  background-color: var(--white2);
  color: var(--darkBlue);
}
@media (max-width: 62em) {
  body section.forRent button {
    top: calc(100% - 8rem);
    left: calc(58% - 3.5rem);
  }
}
@media (max-width: 48em) {
  body section.forRent button {
    width: 10rem;
    aspect-ratio: unset;
    padding: 0.8rem 1rem;
    margin: 0 auto;
    border-radius: 0.3rem;
    top: calc(100% - 5rem);
    left: calc(50% - 5rem);
  }
}
@media (max-width: 30em) {
  body section.forRent button {
    margin-top: 1rem;
    position: relative;
    top: unset;
  }
}
body section.forRent img {
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}
@media (max-width: 30em) {
  body section.forRent img {
    width: 100%;
    height: unset;
    position: relative;
  }
}
body section.team {
  background-color: var(--white);
  min-height: unset;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
body section.team span.hype {
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto 2em auto;
}
body section.team h2 {
  text-align: center;
  margin-bottom: 3.5em;
  text-transform: capitalize;
}
body section.team h2, body section.team h2 * {
  font-family: "Comfortaa", "Poppins", Verdana, Geneva, Tahoma, sans-serif !important;
}
body section.team ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
body section.team ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 1em 5em 1em;
}
body section.team ul li div:has(img) {
  width: 15em;
  height: 18em;
  border-radius: 0.5em;
  overflow: hidden;
}
body section.team ul li div:has(img) img {
  width: 100%;
  max-width: 730px;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
body section.team ul li div:not(:has(img)) {
  display: grid;
  place-items: center;
  margin-top: 0.5em;
}
body section.team ul li div:not(:has(img)) p {
  text-align: center;
}
body section.team ul li div:not(:has(img)) p.teamName {
  font-size: 1.1em;
  font-weight: 600;
  text-transform: capitalize;
}
body section.team ul li div:not(:has(img)) p.teamPos {
  font-size: 0.8em;
}
body section.exp {
  display: grid;
  place-items: center;
  background-color: var(--dark);
  height: 8em;
  min-height: unset;
  padding: var(--padding) 5%;
  overflow: auto hidden;
}
@media (max-width: 62em) {
  body section.exp {
    overflow: scroll hidden;
  }
  body section.exp::-webkit-scrollbar {
    height: 6px;
  }
  body section.exp::-webkit-scrollbar-track {
    background-color: var(--transparent);
  }
  body section.exp::-webkit-scrollbar-thumb {
    background-color: var(--dark1);
    border-radius: 5em;
  }
}
body section.exp ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}
body section.exp ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 21em;
}
body section.exp ul li svg {
  width: 5em;
  height: 5em;
  margin-right: 1.5em;
}
body section.exp ul li div h1 {
  font-family: "Baskerville Old Face", "bookman old style";
  font-size: 3em;
  color: var(--white);
}
body section.exp ul li div p {
  color: var(--white3);
  margin-top: 0.1em;
  text-transform: capitalize;
}
body section.logoDisplay {
  display: grid;
  place-items: center;
  background-image: url(../../asset/images/logo.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 10%;
  height: 8em;
  min-height: unset;
}
@media (max-width: 48em) {
  body section.logoDisplay {
    background-size: 20%;
  }
}
body section.logoDisplay::after {
  content: "";
  background-color: rgba(255, 255, 255, 0.8078431373);
  -webkit-backdrop-filter: grayscale(100%);
          backdrop-filter: grayscale(100%);
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 1;
}
body section.logoDisplay > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 20;
}
body section.logoDisplay > div > div {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  scale: 2;
}
@media (max-width: 48em) {
  body section.logoDisplay > div > div {
    width: 100%;
  }
}
@media (max-width: 30em) {
  body section.logoDisplay > div > div {
    scale: unset;
  }
}
body div.overlayCont {
  display: grid;
  place-items: center;
  visibility: hidden;
  background-color: rgba(168, 168, 168, 0.1725490196);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 60;
}
body div.overlayCont.active {
  visibility: visible;
}
body div.overlayCont > div {
  display: grid;
  place-items: center;
}
body div.overlayCont > div.overlayFloor {
  background-color: rgba(255, 0, 0, 0);
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}
body div.overlayCont > div.overlay {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  z-index: 5;
  position: relative;
}
body div.overlayCont > div.overlay::after {
  content: url(../../asset/images/logo.png);
  scale: 0.1;
  position: absolute;
  bottom: -5em;
}
body div.overlayCont > div.overlay .overCont {
  display: grid;
  place-items: center;
  background-color: var(--white);
  width: 100%;
  max-width: 25rem;
  border-radius: 1em;
  padding: 2.5em 2.5em 7em 2.5em;
  position: relative;
}
@media (max-width: 62em) {
  body div.overlayCont > div.overlay .overCont {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
}
@media (max-width: 48em) {
  body div.overlayCont > div.overlay .overCont {
    max-width: -webkit-fit-content;
    max-width: -moz-fit-content;
    max-width: fit-content;
    padding: 1rem 1rem 7rem 1rem;
  }
}
body div.overlayCont > div.overlay .overCont > p {
  font-size: 0.7em;
  margin-bottom: 2em;
}
body div.overlayCont > div.overlay .overCont ul {
  width: 100%;
}
body div.overlayCont > div.overlay .overCont ul li {
  display: grid;
  grid-template-columns: auto 2.5rem 4.3em;
  grid-template-areas: "left middle right";
  border-radius: 1em;
  -webkit-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
  cursor: pointer;
}
body div.overlayCont > div.overlay .overCont ul li:not(:last-of-type) {
  margin-bottom: 1.5em;
}
body div.overlayCont > div.overlay .overCont ul li button {
  display: grid;
  place-items: center;
  height: 100%;
  padding: 0.5em 0;
  border-radius: 0.3rem;
  position: relative;
  cursor: pointer;
}
body div.overlayCont > div.overlay .overCont ul li button:hover {
  background-color: rgba(0, 38, 255, 0.0470588235);
}
body div.overlayCont > div.overlay .overCont ul li button:first-of-type {
  grid-area: middle;
  margin-right: 0.5rem;
}
@media (max-width: 48em) {
  body div.overlayCont > div.overlay .overCont ul li button:first-of-type {
    display: block;
    background-color: var(--white);
    padding: unset;
    border-radius: unset;
  }
  body div.overlayCont > div.overlay .overCont ul li button:first-of-type svg {
    width: 1rem;
  }
}
body div.overlayCont > div.overlay .overCont ul li button:last-of-type {
  grid-area: right;
  padding: 0.25rem 0;
  border-radius: 0.25rem;
}
body div.overlayCont > div.overlay .overCont ul li button svg {
  width: 1.5em;
}
body div.overlayCont > div.overlay .overCont ul li button svg.copied path {
  fill: var(--logoGreen);
}
body div.overlayCont > div.overlay .overCont ul li button svg.phone path {
  fill: var(--logoGreen);
}
body div.overlayCont > div.overlay .overCont ul li button svg.email path {
  stroke-width: 0.1;
  stroke: var(--logoBlue);
  fill: var(--logoBlue);
}
body div.overlayCont > div.overlay .overCont ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-area: left;
  width: 100%;
  font-size: 0.9em;
}
@media (max-width: 48em) {
  body div.overlayCont > div.overlay .overCont ul li a {
    font-size: 0.7em;
  }
}
body footer {
  background-color: var(--darkBlue);
  min-height: 30vh;
  padding: 10em 5% 1em 5%;
}
body footer > div p, body footer ul.fMain > li ul li, body footer ul.fMain > li ul li a, body footer ul.fMain > li p {
  color: var(--white3);
}
@media (max-width: 62em) {
  body footer > div p, body footer ul.fMain > li ul li, body footer ul.fMain > li ul li a, body footer ul.fMain > li p {
    font-size: 11px;
  }
}
body footer ul.fMain {
  display: grid;
  grid-template-columns: auto 10em 20em;
  grid-template-areas: "left middle right";
  gap: 5em;
  color: var(--white);
}
@media (max-width: 48em) {
  body footer ul.fMain {
    grid-template-rows: auto auto auto;
    grid-template-columns: unset;
    grid-template-areas: "top" "middle" "bottom";
  }
}
@media (max-width: 48em) {
  body footer ul.fMain > li:nth-of-type(1) {
    display: grid;
    grid-area: 1/1/span 1/3;
  }
}
@media (max-width: 48em) {
  body footer ul.fMain > li:nth-of-type(2) {
    grid-area: 2/1;
  }
}
@media (max-width: 48em) {
  body footer ul.fMain > li:nth-of-type(3) {
    grid-area: 2/2;
  }
}
@media (max-width: 18em) {
  body footer ul.fMain > li {
    grid-area: unset !important;
  }
}
body footer ul.fMain > li .logo {
  color: var(--white) !important;
  margin-bottom: 1.5em;
}
body footer ul.fMain > li .logo p {
  color: var(--white) !important;
}
body footer ul.fMain > li h3 {
  color: var(--white2);
  margin-bottom: 1em;
}
@media (max-width: 62em) {
  body footer ul.fMain > li h3 {
    font-size: 16px;
  }
}
body footer ul.fMain > li ul.fLinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1.5em;
}
body footer ul.fMain > li ul.fLinks li {
  background-color: rgba(0, 0, 0, 0.3647058824);
  width: 3em;
  aspect-ratio: 1/1;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
}
body footer ul.fMain > li ul.fLinks li:not(:first-of-type) {
  margin-left: 1em;
}
body footer ul.fMain > li ul.fLinks li:hover svg path {
  fill: var(--white);
}
body footer ul.fMain > li ul.fLinks li a {
  display: grid;
  place-items: center;
  width: 100%;
  height: 100%;
}
body footer ul.fMain > li ul.fLinks li svg {
  scale: 0.8;
}
body footer ul.fMain > li ul.fLinks li svg path {
  fill: var(--white3);
}
body footer hr {
  background-color: rgba(255, 255, 255, 0.4588235294);
  height: 0.05em;
  margin: 4em 0 1em 0;
}
body footer > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
body footer > div img {
  width: 5rem;
  position: absolute;
  right: 0;
}
@-webkit-keyframes wiggle {
  0%, 7% {
    -webkit-transform: rotateZ(0);
            transform: rotateZ(0);
  }
  15% {
    -webkit-transform: rotateZ(-15deg);
            transform: rotateZ(-15deg);
  }
  20% {
    -webkit-transform: rotateZ(10deg);
            transform: rotateZ(10deg);
  }
  25% {
    -webkit-transform: rotateZ(-10deg);
            transform: rotateZ(-10deg);
  }
  30% {
    -webkit-transform: rotateZ(6deg);
            transform: rotateZ(6deg);
  }
  35% {
    -webkit-transform: rotateZ(-4deg);
            transform: rotateZ(-4deg);
  }
  40%, 100% {
    -webkit-transform: rotateZ(0);
            transform: rotateZ(0);
  }
}
@keyframes wiggle {
  0%, 7% {
    -webkit-transform: rotateZ(0);
            transform: rotateZ(0);
  }
  15% {
    -webkit-transform: rotateZ(-15deg);
            transform: rotateZ(-15deg);
  }
  20% {
    -webkit-transform: rotateZ(10deg);
            transform: rotateZ(10deg);
  }
  25% {
    -webkit-transform: rotateZ(-10deg);
            transform: rotateZ(-10deg);
  }
  30% {
    -webkit-transform: rotateZ(6deg);
            transform: rotateZ(6deg);
  }
  35% {
    -webkit-transform: rotateZ(-4deg);
            transform: rotateZ(-4deg);
  }
  40%, 100% {
    -webkit-transform: rotateZ(0);
            transform: rotateZ(0);
  }
}

body section.sect1 {
  display: grid;
  place-items: center;
  background-color: var(--white);
  height: 50vh;
  min-height: unset;
}
body section.sect1::before {
  content: "";
  background-color: rgba(0, 0, 0, 0.5254901961);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: -1;
}
body section.sect1 > div:first-of-type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 2.5em 0;
}
body section.sect1 > div:first-of-type h1 {
  font-family: "Comfortaa";
  font-size: 3.5em;
  color: var(--white);
  margin: 0.4em 0;
  text-align: center;
}
body section.sect1 > div:first-of-type h1, body section.sect1 > div:first-of-type h1 * {
  font-weight: 700;
}
body section.sect1 > div:first-of-type h1 span {
  font-weight: normal;
  color: var(--logoBlue);
}
body section.sect1 > div:first-of-type p {
  color: var(--white);
}
body section.sect2 {
  background-color: var(--white);
}
body section.sect2 > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
body section.sect2 > div span.hype {
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto 2em auto;
}
body section.sect2 > div > h2 {
  font-weight: 600;
  margin-bottom: 3.5em;
  text-transform: capitalize;
  text-align: center;
}
body section.sect2 > div > h2, body section.sect2 > div > h2 * {
  font-family: "Comfortaa", "Poppins", Verdana, Geneva, Tahoma, sans-serif !important;
}
body section.sect2 > div > h2 span {
  color: var(--logoBlue);
}
body section.sect2 > div ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
@media (max-width: 48em) {
  body section.sect2 > div ul {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
body section.sect2 > div ul li {
  width: 100%;
}
body section.sect2 > div ul li div:first-of-type {
  display: grid;
  place-items: center;
  background-color: var(--white1);
  width: 1.4em;
  aspect-ratio: 1/1;
  padding: 0.5em;
  margin-bottom: 1em;
  border-radius: 0.45em;
}
body section.sect2 > div ul li div:first-of-type svg {
  width: 100%;
  height: 100%;
}
body section.sect2 > div ul li div:first-of-type svg path {
  stroke: var(--logoBlue);
}
body section.sect2 > div ul li div:last-of-type p:first-of-type {
  font-weight: 700;
  margin-bottom: 1em;
  text-transform: capitalize;
}
body section.sect2 > div ul li div:last-of-type p:last-of-type {
  font-size: 0.9em;
}
body section.sect2 > div ul li:not(:first-of-type) {
  margin-top: unset;
  margin-left: 1em;
}
@media (max-width: 48em) {
  body section.sect2 > div ul li:not(:first-of-type) {
    margin-top: 3em;
    margin-left: unset;
  }
}
body section.sect2 ul.appC {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 8em;
  -webkit-transform: skew(-25deg, 0);
          transform: skew(-25deg, 0);
}
@media (max-width: 48em) {
  body section.sect2 ul.appC {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-transform: unset;
            transform: unset;
  }
}
body section.sect2 ul.appC li {
  display: grid;
  place-items: center;
  width: 100%;
  height: 15rem;
}
body section.sect2 ul.appC li > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: skew(25deg, 0);
          transform: skew(25deg, 0);
}
@media (max-width: 48em) {
  body section.sect2 ul.appC li > div {
    -webkit-transform: unset;
            transform: unset;
  }
}
body section.sect2 ul.appC li > div svg {
  margin-bottom: 1em;
}
body section.sect2 ul.appC li > div a {
  color: var(--white);
  width: 10em;
  padding: 0.3em 0.9em;
  margin-top: 1em;
  text-align: center;
}
body section.sect2 ul.appC li:first-of-type {
  background-color: var(--white3);
}
body section.sect2 ul.appC li:first-of-type p {
  color: var(--black);
}
body section.sect2 ul.appC li:first-of-type svg path {
  fill: var(--black);
}
body section.sect2 ul.appC li:first-of-type a {
  background-color: var(--black);
  color: var(white3);
}
body section.sect2 ul.appC li:last-of-type {
  background-color: var(--black);
}
body section.sect2 ul.appC li:last-of-type p {
  color: var(--white3);
}
@media (max-width: 48em) {
  body section.sect2 ul.appC li:last-of-type {
    margin-top: 0;
  }
}
body section.sect2 ul.appC li:last-of-type svg path {
  fill: var(--white3);
}
body section.sect2 ul.appC li:last-of-type a {
  background-color: var(--white3);
  color: var(--black);
}